<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SABA_CH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SABA_CH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
   
  <userSettings>
    <SABA_CH.Properties.Settings>
      <setting name="LastDate" serializeAs="String">
        <value />
      </setting>
    </SABA_CH.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <SABA_CH.Properties.Settings>
      <setting name="GetShutdownInterval" serializeAs="String">
        <value>True</value>
      </setting>
    </SABA_CH.Properties.Settings>
  </applicationSettings>
<connectionStrings><add name="SabaNewEntities" connectionString="metadata=res://*/DataBase.SabaModel.csdl|res://*/DataBase.SabaModel.ssdl|res://*/DataBase.SabaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SabaNew;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
